/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- general background image for subheader
	- background settings for page subheader
	- background settings for section
	- subheader for side navigation
	- media query
*/

/* general settings for section & subheader */
section,#subheader{
-webkit-background-size: 100% !important;
-moz-background-size: 100% !important;
-o-background-size: 100% !important;
background-size: 100% !important;
}

/* general background image for subheader */
#subheader{
background:url(../images/background/bg-subheader.jpg)top fixed;
}

/* background settings for page subheader */
.page-projects #subheader{background-image:url(../images/background/subheader-1.html);}
.page-projects-alt #subheader{background-image:url(../images/background/subheader-1b.html);}
.page-services #subheader{background-image:url(../images/background/subheader-3.jpg);}
.page-about #subheader{background-image:url(../images/background/subheader-3.jpg);}
.page-blog #subheader{background-image:url(../images/background/subheader-4.jpg);}
.page-shop #subheader{background-image:url(../images/background/subheader-5.html);}
.page-contact #subheader{background-image:url(../images/background/subheader-3.jpg);}

/* background settings for section */
#info-address{background:url(../images/background/bg-3.jpg) top fixed;}
#view-all-projects, #call-to-action{padding:60px 0 60px 0;}
#section-about-us-2{background:#f8f8f8; height:100%;}
#section-about-us-2 .image-container{background:url(../images/background/bg-side-1.jpg);}
#section-about-us-3{background:#111; height:100%;}
#section-about-us-3 .image-container{background:url(../images/background/bg-side-2.html);}
#section-about-us-4 .image-container{background:url(../images/background/bg-side-3.html);}
#section-welcome-5{background:url(../images/background/bg-14.html) top fixed;}
#section-blog {background:url(../images/background/bg-5.html) top fixed;}
#section-coming-soon{ background:none; position:absolute; min-height:100%; width:100%;z-index:1;}
#section-describe{background:#202020;}
#section-download{background:url(../images/background/bg-9.jpg) top fixed;}
#bg-coming-soon-page{background:url(../images/background/bg-6.html) top fixed; position:fixed; min-height:100%; width:100%;}
#section-about-us-2{background:#18191b; height:100%;}
.de_light #section-about-us-2{background:none;}
#section-welcome{background:url(../images/background/bg-4.jpg) top fixed;}
#section-welcome-2{background:url(../images/background/bg-6.html) top fixed;}
#section-welcome-3{background:url(../images/background/bg-7.html) top fixed;}
#section-welcome-4{background:url(../images/background/bg-10.jpg) top fixed;}
#section-welcome-6{background:url(../images/background/bg-15.jpg) top fixed;}
#section-welcome-7{background:url(../images/background/bg-19.html) fixed center;}
#section-welcome-8{background:url(../images/background/bg-20.html) fixed center;}
#section-welcome-9{background:url(../images/background/bg-21.html) top fixed;}
#section-welcome-10{background:url(../images/background/bg-23.html) top fixed;}
#section-why-choose-us{background:url(../images/background/bg-8.html) top fixed;}
#section-why-choose-us-3{background:url(../images/background/bg-16.html) top fixed;}
#section-portfolio{background:#222; width:101%; overflow:hidden;}
.de_light #section-portfolio{background:#fff;}
#section-skill-bar{ background:url(../images/background/bg-8.html) top fixed;}
#section-testimonial{ background:url(../images/background/bg-3.jpg) top fixed;}
#section-testimonial-2{ background:url(../images/background/bg-17.html) top fixed;}
#section-steps{ background:url(../images/background/bg-2.jpg) top fixed;}
#section-steps-2{ background:url(../images/background/bg-11.html) top fixed;}
#section-steps-3{ background:url(../images/background/bg-12.html) top fixed;}
#section-team{background:#111;}
.de_light #section-team{background:#f5f5f5;}
#hide-content{position:absolute; width:100%; min-height:100%; z-index:100;display:none; background:rgba(0,0,0,.8);}
#section-fun-facts .image-container{background:url(../images/background/bg-side-4.html);}
#section-fun-facts-2{background:url(../images/background/bg-13.html) center;}
#section-fun-facts-3{background:url(../images/background/bg-18.html) top;}
#section-side-1.side-bg .background-image{background:url(../images/background/bg-side-5.html);}
#section-side-2.side-bg .background-image{background:url(../images/background/bg-side-6.html);}
#section-custom-1{background:url(../images/background/bg-17.html) top fixed;}
#section-custom-2{background:url(../images/background/bg-16.html) top fixed;}
#section-cta-1{background:url(../images/background/bg-22.html) top fixed;}
#section-profile-experiences{background:url(../images/background/bg-24.html) top fixed;}

/* services section side background */
#section-service-1.side-bg .background-image{background:url(../images/background/bg-service-1g.png);}
#section-service-2.side-bg .background-image{background:url(../images/background/bg-service-1.png);}
#section-service-3.side-bg .background-image{background:url(../images/background/bg-service-1-1g.png);}
#section-service-4.side-bg .background-image{background:url(../images/background/bg-service-4.jpg);}
#section-service-5.side-bg .background-image{background:url(../images/background/bg-service-4g.png);}
#section-service-6.side-bg .background-image{background:url(../images/background/bg-service-6.png);}
#section-service-7.side-bg .background-image{background:url(../images/background/bg-service-5.png);}
#section-service-8.side-bg .background-image{background:url(../images/background/bg-service-7.png);}
#section-service-9.side-bg .background-image{background:url(../images/background/bg-service-8.png);}
#section-service-10.side-bg .background-image{background:url(../images/background/bg-service-9.png);}
#section-service-11.side-bg .background-image{background:url(../images/background/bg-service-10.png);}
#section-service-12.side-bg .background-image{background:url(../images/background/bg-service-11.png);}
#section-service-13.side-bg .background-image{background:url(../images/background/bg-service-12.png);}
#section-service-14.side-bg .background-image{background:url(../images/background/bg-service-13.png);}
#section-service-15.side-bg .background-image{background:url(../images/background/bg-service-14.png);}
#section-service-16.side-bg .background-image{background:url(../images/background/bg-service-15.png);}
#section-service-17.side-bg .background-image{background:url(../images/background/bg-service-16.png);}
#section-service-18.side-bg .background-image{background:url(../images/background/bg-service-17.png);}
#section-service-19.side-bg .background-image{background:url(../images/background/bg-service-18.png);}
#section-service-20.side-bg .background-image{background:url(../images/background/bg-service-19.png);}
#section-service-21.side-bg .background-image{background:url(../images/background/bg-service-20.png);}
#section-service-22.side-bg .background-image{background:url(../images/background/bg-service-21.png);}
#section-service-23.side-bg .background-image{background:url(../images/background/bg-service-22.png);}
#section-service-24.side-bg .background-image{background:url(../images/background/bg-service-23.png);}
#section-service-25.side-bg .background-image{background:url(../images/background/bg-service-24.png);}
#section-service-26.side-bg .background-image{background:url(../images/background/bg-service-25.png);}
#section-service-27.side-bg .background-image{background:url(../images/background/bg-service-26.png);}
#section-service-1,#section-service-3,#section-service-5,#section-service-7,#section-service-8,#section-service-10,#section-service-11,#section-service-13,#section-service-14,#section-service-16,#section-service-18,#section-service-20,#section-service-22,#section-service-24,#section-service-26{background:#212225;}

.bg-fit-height{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
}

/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	}
}
@media only screen and (max-width: 767px) {
	#subheader,section{
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-attachment:scroll !important;
	}
}